<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682284846181-69trore52fiapo9eilce635275ah34nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682284846181-69trore52fiapo9eilce635275ah34nj</string>
	<key>API_KEY</key>
	<string>AIzaSyADbdbhORD9tnT2DK5NEm20mQzzDVrVdLk</string>
	<key>GCM_SENDER_ID</key>
	<string>682284846181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patryklaskowski.instrumentsForVariousGames</string>
	<key>PROJECT_ID</key>
	<string>tools-for-various-games</string>
	<key>STORAGE_BUCKET</key>
	<string>tools-for-various-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682284846181:ios:ebe764338ca39d55dc0a8c</string>
</dict>
</plist>